body { background: #6ccbf1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 19px; display: flex; }
.block-filter-0 { color: #584e10; font-size: 13px; margin-bottom: 5px; }
.block-sms-1 { color: #77e0bb; font-size: 14px; margin-bottom: 5px; }
.block-shipping-2 { color: #c8376; font-size: 18px; margin-bottom: 5px; }
.block-metrics-3 { color: #d6a7a4; font-size: 19px; margin-bottom: 5px; }
.block-metrics-4 { color: #70927f; font-size: 14px; margin-bottom: 5px; }
.block-filter-5 { color: #1081f; font-size: 15px; margin-bottom: 5px; }
.block-config-6 { color: #9b91cc; font-size: 14px; margin-bottom: 5px; }
.block-cluster-7 { color: #a9fe45; font-size: 14px; margin-bottom: 5px; }
.block-helper-8 { color: #463ebd; font-size: 12px; margin-bottom: 5px; }